{% extends "base.html" %}
{% block content %}
  
    <h2>Welcome to ToyCraft Tales</h2>
    <p>
      Employ Tableau to delve into Toy Manufacturers' data, uncovering market trends, production
      patterns, and consumer preferences. Craft interactive visualizations to guide strategic decisions
      and enhance market competitiveness.
    </p>
    <p>
      This project aims to leverage the power of Tableau to provide a comprehensive analysis of the toy
      manufacturing industry. By delving into the vast dataset encompassing various facets of the
      industry, we uncover valuable insights related to market trends and consumer behavior. Explore
      historical sales data, identify emerging demands, and highlight patterns that can inform strategic
      product development.
    </p>
  <div class="button-container">
    <a href="/dashboard" class="btn">View Dashboard</a>
    <a href="/story" class="btn">View Story</a>
    <a href="/about" class="btn">About Student</a>
  </div>
{% endblock %}
